* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 15vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

/* #file__input {
  width: 100vh;
  height: 100vh; */

/* position: absolute; */
/* top: 45%; */
/* } */
